---
title: My 11ty Study Project
---
<html>

<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/styles/main.css">
</head>

<body>
	<div class="header">
		<a href="/">Home</a>
	</div>
	<div class="content">
		{{ content }}
	</div>
</body>

</html>
