---
title: I am Jean Campos
layout: main
---
<h2>Hello, I am Jean Campos</h2>

Posts
{% assign posts = collections.posts | reverse %}
{% for post in posts %}
<p>
	<a href="{{ post.url }}">{{ post.data.title }}</a> <i>(written {{ post.date | date: "%b %d, %Y"}})</i>
</p>
{% endfor %}
