---
pagination:
  data: pokemon
  size: 30
 
title: "Pokedex"
---

{% extends 'layouts/main.njk' %}
{% block content %}
<div class="p-2 sm:p-6">
    <div class="flex justify-center pt-5 pb-12">
        {% image "./src/_includes/assets/icons/pokemon.svg",'logo',"(min-width: 30em) 100vw, 100vw" %}
    </div>
    <div class="max-w-3xl mx-auto pb-8 px-4 sm:px-6 lg:px-8">
        <div class="max-w-2xl mx-auto">
            <p class="font-medium text-lg md:text-xl lg:text-2xl !leading-relaxed text-gray-900 text-center">
                Study Project<br/>Made with @11ty and Tailwind
            </p>
        </div>
    </div>
    <div class="flex grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-2 sm:gap-6 sm:grid-cols-2">
            {%- for pkmn in pagination.items %}
                <a href="/pokemon/{{ pkmn.name | slug }}">
                    <div class="rounded-xl shadow bg-green-200 flex flex-col justify-between p-5 h-52 overflow-hidden" style="background-color:{{ colors[pkmn.types[0]] }}">
                        <div class="flex justify-between">
                            <p class="text-white text-2xl font-extrabold tracking-tight">
                                {{ pkmn.name | ucfirst }}
                            </p>
                            <p class="text-white text-xl font-extrabold z-10">
                                # {{ pkmn.id }}
                            </p>
                        </div>
                        <div class="flex justify-between items-center flex-row">
                            <div class="flex flex-col space-y-8 items-center">
                                <div class="flex flex-1 space-x-3">
                                    {% for type in pkmn.types %}
                                        <div class="rounded-full h-12 w-12 flex items-center justify-center shadow-md p-3" style="background-color:{{ colors[type] }}">
                                            {% image "./src/_includes/assets/types/" + type + ".svg",
                                            type,
                                            "(min-width: 30em) 50vw, 100vw" %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="w-28 sm:w-36 z-10"
                                {% image "./src/_includes/assets/sprites/" + pkmn.id + ".png",
                                pkmn.name,
                                "(max-width: 600px) 100vw, 600px" %}
                            </div>
                        </div>
                        <div class="w-52 sm:w-52 relative opacity-25" style="bottom: 140px;left: 140px;">
                            {% image "./src/_includes/assets/icons/pokeball.svg",'pokeball',"(min-width: 30em) 50vw, 100vw" %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

    </div>
{% endblock %}
