---
pagination:
  data: pokemon
  alias: pkmn
  size: 1

title: "Pokemon List"
permalink: '/pokemon/{{pkmn.name|slug}}/'
---

{% extends 'layouts/main.njk' %}
{% block content %}
  <div class="h-screen p-6 sm:p-10 bg-green-300 flex flex-col" style="background-color:{{ colors[pkmn.types[0]] }}">
    <div class="flex justify-between">
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}" class="text-white text-md sm:text-2xl font-extrabold">
          Prev
          <div class="text-white text-sm font-bold"></div>
        </a>
      {% else %}
        &nbsp;
      {% endif %}
      <a href="/" class="text-white text-md sm:text-2xl font-extrabold">
        Homepage
      </a>
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}" class="text-right text-white text-md sm:text-2xl font-extrabold">
          Next
          <div class="text-white text-sm font-bold"></div>
        </a>
      {% else %}
        &nbsp;
      {% endif %}
    </div>
    <h2 class="order-1 text-white text-md sm:text-2xl font-extrabold">
      # {{ pkmn.id }}
    </h2>
    <h1 class="order-1 text-white text-3xl sm:text-5xl font-extrabold tracking-tight mt-2">
      {{ pkmn.name | ucfirst }}
    </h1>
    <div class="flex flex-1 justify-evenly items-center flex-col sm:flex-row">
      <div>
        {% image "./src/_includes/assets/sprites/" + pkmn.id + ".png", pkmn.name, "(min-width: 30em) 50vw, 100vw" %}
      </div>
      <div class="flex flex-col space-y-8 items-center">
        <div class="hidden sm:flex max-w-sm text-white text-2xl font-extrabold text-center">
          {{ pkmn.description | nl2space | sanitize }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
